.inputBox {
    width: 100%;
    position: relative;
    @extend .row;
    justify-content: center;
    align-items: center;
    &__label {
        position: absolute;
        font-size: 2.1rem;
        line-height: 1.2;
        left: 2rem;
        top: 50%;
        transform: translate(0, -50%);
        cursor: text;
        &.JStrans {
            transition: .2s ease-out;
        }
        &._active {
            opacity: 0;
            visibility: hidden;
        }
    }
    &__error {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translate(0, -50%);
        width: 3rem;
        opacity: 0;
        visibility: hidden;
        transition: .2s;
        &._active {
            opacity: 1;
            visibility: visible;
        }
    }
}