.welcome-title {
  margin-top: 170px;
  margin-bottom: 0;
}
.welcome-subtitle {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.01em;
  margin-top: 10px;
  margin-bottom: 0;
  color: #000000;
}
.welcome-button {
  margin-top: 40px;
}
.remind-password {
  margin-top: 40px;
}
.welcome-checkbox-container {
  margin-top: 40px;
}
.code-input {
  letter-spacing: 15px;
  text-align: center;
}
