<a class="welcome-sing" routerLink="/">{{'other.welcome.to_login' | translate}}</a>

<h1 class="welcome-title">{{'other.welcome.registration.title_set_password' | translate}}</h1>

<input type="password" name="password" class="form-input mt-40" placeholder="{{'other.welcome.registration.set_password' | translate}}"
       [(ngModel)]="password" [class.is-invalid]="password && password.length < 6">
<input type="password" name="confirmPassword" class="form-input mt-17"
       placeholder="{{'other.welcome.registration.set_password_confirm' | translate}}"
       [(ngModel)]="confirmPassword" [class.is-invalid]="confirmPassword && confirmPassword !== password">

<button class="welcome-button" mat-button (click)="submit()"
        [disabled]="!(password && password.length >= 6 && password === confirmPassword)">{{'other.welcome.registration.set_password_submit' | translate}}</button>

<h4 class="welcome-company" style="margin-top: 401px;">2019 (c) NLOYT Corporation</h4>
